<div class="text-center">
  <h2> USUARIOS </h2>
</div>

<p-card>
  <div class="text-end mb-5">
    <button (click)="onShowAddItem()" pButton label="Agregar Usuario"></button>
  </div>
  <p-table [value]="items">
    <ng-template pTemplate="header">
      <tr>
        <th>Id</th>
        <th>Nombre</th>
        <th>Apellidos</th>
        <th>Email</th>
        <th>Dirección</th>
        <th style="width: 10rem;">Acciones</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-element>
      <tr>
        <td>{{element.id}}</td>
        <td>{{element.firstName}}</td>
        <td>{{element.lastName}}</td>
        <td>{{element.email}}</td>
        <td>{{element.address}}</td>
        <td>
          <button pTooltip="Editar" tooltipPosition="top" (click)="onShowEditItem(element)" icon="pi pi-pencil"
            class="mb-2 me-2" pButton></button>
          <button pTooltip="Eliminar" tooltipPosition="top" (click)="onDeleteItem(element)" icon="pi pi-trash"
            class="mb-2" pButton></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</p-card>

<p-dialog [header]="titleModal" [modal]="true" [(visible)]="showModal" [style]="{ width: '50vw' }"
  [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }">
  <p-card>
    <div *ngIf="showModal">
      <form [formGroup]="frmControls!" autocomplete="off">
        <p-fluid>
          <div class="row mt-5">
            <control-validator>
              <p-floatLabel>
                <input type="text" formControlName="firstName" id="firstName" pSize="large" pInputText>
                <label for="firstName">Nombre</label>
              </p-floatLabel>
            </control-validator>
          </div>

          <div class="row mt-5">
            <control-validator>
              <p-floatLabel>
                <input type="text" formControlName="lastName" id="lastName" pSize="large" pInputText>
                <label for="lastName">Apellidos</label>
              </p-floatLabel>
            </control-validator>
          </div>

          <div class="row mt-5">
            <control-validator>
              <p-floatLabel>
                <input type="text" formControlName="address" id="address" pSize="large" pInputText>
                <label for="address">Dirección</label>
              </p-floatLabel>
            </control-validator>
          </div>

          <div class="row mt-5">
            <control-validator>
              <p-floatLabel>
                <input type="text" formControlName="email" id="email" pSize="large" pInputText>
                <label for="email">Email</label>
              </p-floatLabel>
            </control-validator>
          </div>

          <div class="row mt-5">
            <control-validator>
              <p-floatLabel>
                <input type="text" formControlName="password" id="password" pSize="large" pInputText>
                <label for="password">Password</label>
              </p-floatLabel>
            </control-validator>
          </div>

        </p-fluid>
        <div class="mt-5 button-end">
          <button pButton label="Limpiar" (click)="onClear()" icon="pi pi-filter-slash" s size="large"></button>
          <button pButton label="Guardar" (click)="onSave()" icon="pi pi-save" size="large"></button>
        </div>
      </form>
    </div>
  </p-card>
</p-dialog>
