.loading-container{
  height: 100%;
  width: 100%;
  top:0;
  left:0;
}

.loading-overlay
{
  position: fixed !important;
  display: block;
  background-color:rgba(0, 0, 0, 0.801);
  z-index:99999;
}
