.home-content{
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr minmax(1200px,70%) 1fr;
}

main{
  grid-column: 2;
  background-color: var(--p-gray-950);
  display: flex;
  justify-content: center;
  align-items: center;
}